# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
.cocoon/

# Android
**/android/app/build/
**/android/.gradle/
**/android/captures/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# VS Code
.vscode/
*.code-workspace

# MacOS
*.xcworkspace
*.xcuserstate
*.xcuserdata
*.moved-aside
*.crash
*.xcscmblueprint
DerivedData/

# Windows
**/windows/runner/Debug/
**/windows/runner/Release/
**/windows/runner/Profiling/

# Linux
**/linux/flutter/ephemeral/

# Web
**/web/manifest.json
**/web/index.html
**/web/favicon.png
**/web/icons/Icon-192.png
**/web/icons/Icon-512.png

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
